#turtles, #snakes, #lizards, #frogs {
  display: none;
  /*background-color: red;*/
}

h1 {
  font-family: verdana;
  text-align: center;
  font-size: 3em;
  color: green;
}

.animals img{
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.animals h1{
  font-size: 2em;
  text-align: left;
}

.animals p{
  font-family: tahoma;
}
